<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>Label</key>
  <string>com.gregory.aura.stack</string>

  <key>ProgramArguments</key>
  <array>
    <string>/bin/bash</string>
    <string>__AURA_REPO_ROOT__/scripts/aura-start</string>
    <string>start</string>
  </array>

  <key>RunAtLoad</key>
  <true/>

  <key>KeepAlive</key>
  <false/>

  <key>WorkingDirectory</key>
  <string>__AURA_REPO_ROOT__</string>

  <key>StandardOutPath</key>
  <string>__AURA_LOG_DIR__/launchd.stack.stdout.log</string>

  <key>StandardErrorPath</key>
  <string>__AURA_LOG_DIR__/launchd.stack.stderr.log</string>

  <key>EnvironmentVariables</key>
  <dict>
    <key>PATH</key>
    <string>/opt/homebrew/bin:/usr/local/bin:/usr/bin:/bin:/usr/sbin:/sbin</string>
    <key>HOME</key>
    <string>__USER_HOME__</string>
  </dict>

  <key>AbandonProcessGroup</key>
  <true/>

  <key>ThrottleInterval</key>
  <integer>30</integer>
</dict>
</plist>
